#document-header
    @include media-breakpoint-up(desktop)
        .nav-level-1
            li a
                text-decoration-line: underline
                text-decoration-style: wavy
                //text-underline-offset: 8px
                &.active
                    text-decoration: none

.page__home
    
    .hero
        height: 80vh 
        --with-image
        z-index: -1
        background: #b9e1df 
        position: relative
        .content
            z-index: 1
            figure
                @include inset(0)
                z-index: -1
                position: absolute
                width: 100%
                height: 100%
                margin: 0
                overflow: hidden
                filter: grayscale(100%), invert(100%)
                mix-blend-mode: screen
                opacity: 100%
