.page__home
    .hero
        height: 85vh



.button, .btn
    background: transparent
    @include icon-site(wave, after, true)
    border-radius: 40px
    border-width: 2px
    &:hover, &:focus, &:focus-visible
        background: $color-text
        //border-color: #ffdf14
        color: var(--color-background)
        border-width: 2px

.block-files
    .files
        li
            &::before
                background: #ffdf14
                transition: background 0.3s ease, border 0.3s ease
                width: pxToRem(60)
