header#document-header
    @include media-breakpoint-down(desktop)
        .nav-level-1
            > li:not(:last-child)
                border-color: rgba($color-background, 0.1)

.toc-container
    .toc-title
        @extend .sr-only
    @include media-breakpoint-up(desktop)
        .toc-pages
            li:first-child
                margin-top: 0

// BLOCKS
.block
    .top
        @include media-breakpoint-up(desktop)
            margin-bottom: $spacing-5