.block-class-newsletter
    h3
        margin-bottom: $spacing-2
    input[type="submit"]
        padding: $spacing-2
    input[type="email"], input[type="text"]
        border-radius: 0
    form
        table
            th, td, tr
                border: 0 !important