.block-pages
    &--cards
        &.with-images
            .cards
                article.card
                    aspect-ratio: 3/4
                    .media
                        position: absolute
                        top: 0
                        left: 0
                        right: 0
                        bottom: 0
                        margin: 0
                        mix-blend-mode: multiply
                        img
                            aspect-ratio: 3/4
                            filter: grayscale(1)
                    p
                        position: relative
                    .page-title, p
                        z-index: 2
                    .more
                        @extend .sr-only
                    p
                        @include meta
                        margin-top: auto
                    .page-title a
                        @include icon(arrow-right-line, after, true)
                            display: inline-block
                            opacity: 0
                            transition: all 0.3s ease
                    &:has(> p:not(.more))
                        .more
                            margin-top: unset
                    &:hover .page-title a::after
                        opacity: 1
                        transform: translateX(space())
        .cards
            @include in-page-without-sidebar
                @include grid(4, xl)
    &--grid
        &.block-class-horizontal-scroll
            .grid
                display: flex !important
                gap: $spacing-6 !important
                margin-bottom: -($spacing-3)
                margin-left: var(--grid-gutter-negative)
                margin-right: var(--grid-gutter-negative)
                overflow-x: auto
                padding-bottom: $spacing-3
                padding-left: var(--grid-gutter)
                padding-right: var(--grid-gutter)
                article.page
                    min-width: columns(8)
                    @include in-page-without-sidebar
                        min-width: columns(3)
        &.block-page-with-cover
            .grid
                @include in-page-without-sidebar
                    @include grid(3)
                    .media
                        margin-left: auto
                        margin-right: auto
                        max-width: columns(3.2)
        .grid
            @include in-page-without-sidebar
                @include grid(4)
        &.with-images
            article.page
                .page-title,
                p
                    text-align: center
                p
                    @include small
                .media img
                    aspect-ratio: 1
                    @include in-page-with-sidebar
                        max-width: calc(#{columns(2)} + var(--grid-gutter))
                        margin: auto
        